

/* grid style */
#grid{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 600px;
    height: 600px;
    background-color: aquamarine;
    margin: 20px auto;
}

/* cell style */
.cell{
    cursor: pointer;
    width: calc(100% / 10); 
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.clicked{
    background-color: darkgoldenrod;
    color: white;
}